//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

.card-header-table{
    display: flex;
    justify-content: space-between;
    .card-filter{
        display: flex;
        justify-content: space-between;
       
    }
}