@import "argon-dashboard/custom/functions";
@import "argon-dashboard/custom/variables";
@import "argon-dashboard/custom/mixins";


@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Argon utilities and components

@import "argon-dashboard/custom/reboot";
@import "argon-dashboard/custom/utilities";
@import "argon-dashboard/custom/components";

// Vendor (Plugins)

@import "argon-dashboard/custom/vendors";

// Docs components

@import "argon-dashboard/docs/variables";
@import "argon-dashboard/docs/nav";
@import "argon-dashboard/docs/clipboard-js";
@import "argon-dashboard/docs/component-examples";
@import "argon-dashboard/docs/prism";
@import "argon-dashboard/docs/content";
@import "argon-dashboard/docs/sidebar";
@import "argon-dashboard/docs/footer";

// React Differences
@import "react/react-differences";




// Custom my Scss
.sidebar-company-black-logo, .sidebar-company-white-logo{
    max-height: 6.5rem !important;
}

// .admin-footer-section{
//     position: fixed;
//     bottom: 0;
// }
.content-section{
    // max-height: 50vh;
}

.Scheduler{
    height: 100vh;
}

.Scheduler-form{
    padding: 0 10px;
    // label{padding: 0;width: 100%;}
    .row{margin: 0;
        label{ padding: 0; margin-top: 20px; }
    col{padding: 0;}
}
    .date-section {
        .start-date{ padding: 0; padding-right: 10px; }
        .end-date { padding: 0; padding-left: 10px; }
    }

}

  



.weekLabel {
    cursor: pointer;
    background: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 20px;
}

.rating-form label:first-child{
    border-right: none;
    border-left: 1px solid black !important;
}

.weekInput:checked+.weekLabel {
    color: inherit;
    background: rgb(95, 90, 90);
    color: #fff;
    padding: 15px;
}

.weekInput:not(:checked)+.weekLabel {
    --bg-opacity: 0;
    box-shadow: none;
    padding: 15px;
}

.weekInput[type=checkbox] {
    display: none;
}







.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
    margin-left: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





.dark-theme{
    .bg-gradient-info { background: #19222c !important; }
    .body {background-color: #2d3d50 !important;}
    .gg-sun{display: block;}     .gg-moon{display: none;}
    .to-top{color: yellow; background: transparent; border: 1px solid #fff;}
    #sidenav-main{
        background-color: #2d3d50 !important;
    }
    #sidenav-main  .nav-item a , #sidenav-main .navbar-brand h1{
        color:hsla(0,0%,100%,.8);
    }
    .navbar-vertical .navbar-nav .nav-link.active{
        color: #fff !important;
    }
    .half-bottom-content{
        background-color: #19222c;
        margin: 0px !important;
    }
    .admin-footer-section ,.admin-footer-section .footer{
        background-color: #27293d;
    }
    .shadow{
        box-shadow: none !important;
    }
    .card-header-table, .card, .table .thead-light th, .card-footer , .card-header,.dropdown-menu{
        background-color: #2d3d50 !important;}
        .bg-gradient-default{
        background: #2d3d50 !important;}
        
    .card td,.table .thead-light th .card h5,.card-stats .card-body span{
        color:hsla(0,0%,100%,.8);
    }
    .sidebar-company-white-logo{
        display: block;
    }
    .sidebar-company-black-logo{
        display: none;
    }
    h1,h2,h3,h4,h5, .table th, .table td,.dropdown-item, .dropdown-header h6{color: #ffffff !important;    }
} 




.light-theme{
    .sidebar-company-black-logo{ display: block;}
    .sidebar-company-white-logo{ display: none;}
    .gg-moon{display: block;} .gg-sun{display: none;}
    .to-top{color: #19222c; background: transparent; border: 1px solid #19222c;} 
    // .bg-gradient-default{background-color: #d3d5d8 !important;}
}

.to-top{
    background: #036999;
    position: fixed;
    bottom: 16px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    opacity: 3;
    transition: all .4s;
  }
.to-top:hover{
    // color: #fff;
    cursor: pointer;
}


.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
  }
  .gg-sun::after,
  .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
  }
  .gg-sun::before {
    transform: rotate(-45deg)
  }
  .gg-sun::after {
    transform: rotate(45deg)
  }
  

.err-msg{
    color: #ea4335;
    text-align: left;
    font-size: 14px;
}
.forgot{
    color: #212529;
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    p{
        color: #212529;
    margin: 10px 0 30px 0;
    font-size: 15px;
    font-weight: 500;
    }
}